{% extends 'layout.html' %}

{% block body  %}
<div class="jumbotron text-center">
        <h3>About this application</h3>
        <p>This application is built on the Python Flask Framework and enhanced with Bootstrap. This app is for keeping the list of items that one intends to buy</p>
        <p>The author of this application has not implemented any database. Feel free to contact him at <a href="https://web.facebook.com/Bonieeee">orwabonifase</a> for any suggestion on how to improve this app. </p>

</div>

 {% endblock %}  