{% extends 'layout.html' %}

{% block body  %}
<div class="jumbotron text-center">
    <h3>Welcome to Shopping List Application</h3>
    {% if session.logged_in %}
    <h5> Username: {{session.Username}}</h5>
    <a class="btn btn-success btn-lg" href="/dashboard">Dashboard</a>
    <p><a class="btn btn-danger btn-lg" href="/logout">Logout</a></p>
    {% else %}
    <p>Please register or login below to use this application</p>
    <a href="/register" class="btn btn-primary btn-lg">Register</a>
    <a href="/login" class="btn btn-success btn-lg">Login</a>
    {% endif %}  
   
</div>
{% endblock %}  